.celular {
    width: 80%;
    background-color: #009b5c;
}
.box-celular, .email {
    display: grid;
    place-items: center;
    margin-top: 100px;
}
.email {
    background-color: #0052a5;
    min-width: 590px;
}
.icon-tf {
    display: flex;
    margin: 0px;
    height: 50px;
    width: 50px;
}
.numero-cel {
    margin: 0px;
}
.icon-email {
    
    height: 50px;
    width: 50px;
}