* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Contato {
    width: 100%;
    height: 100%;
}
 .celular {
    display: flex;
    background-color: #009b5c;
    border-radius: 10px;
}
.box-celular {
    display: grid;
    place-items: center;
    margin-top: 80px;
}
.email {
    background-color: #0052a5;
    margin-top: 50px;
    display: flex;
    border-radius: 10px;
}
.icon-tf {
    display: flex;
    margin: 5px;
    height: 50px;
    width: 50px;
}
.numero-cel {
    margin: 5px;
    margin-bottom: 0px;
}
.icon-email {
    margin: 5px;
    height: 50px;
    width: 50px;
}
#linkzap {
    margin: 0;
}
#email-text {
    margin: 5px;
}
.linkedin {
    margin-top: 50px;
    display: flex;
    background-color: #009b5c;
    border-radius: 10px;
}
.linkedin-icon {
    margin: 5px;
    height: 50px;
    width: 50px;
}
#linkedin-text {
    margin-bottom: 0px;
}
.github {
    margin-top: 50px;
    display: flex;
    background-color: #222;
    border-radius: 10px;
}
.github-icon {
    margin: 5px;
    height: 50px;
    width: 50px;
}
#github-text {
    margin: 5px;
}
@media only screen and (max-device-width: 414px) {
    .Contato {
        width: 100%;
        height: 100%;
    }
     .celular {
        display: flex;
        background-color: #009b5c;
        border-radius: 10px;
        margin-top: 50px;
    }
    .box-celular {
        display: grid;
        place-items: center;
        margin-top: 0px;
    }
    .email {
        background-color: #0052a5;
        margin-top: 50px;
        display: flex;
        border-radius: 10px;
        width: 100%;
    }
    .icon-tf {
        display: flex;
        margin: 5px;
        height: 100%;
        width: 100%;
    }
    .numero-cel {
        margin: 5px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    .icon-email {
        margin: 5px;
        height: 100%;
        width: 100%;
    }
    #linkzap {
        margin: 0;
    }
    #email-text {
        margin: 5px;
        font-size: 20px;
    }
    .linkedin {
        margin-top: 50px;
        display: flex;
        background-color: #009b5c;
        border-radius: 10px;
    }
    .linkedin-icon {
        margin: 5px;
        height: 100%;
        width: 100%;
    }
    #linkedin-text {
        margin-bottom: 0px;
        font-size: 20px;
    }
    .github {
        margin-top: 50px;
        display: flex;
        background-color: #222;
        border-radius: 10px;
    }
    .github-icon {
        margin: 5px;
        height: 100%;
        width: 100%;
    }
    #github-text {
        margin: 5px;
        font-size: 20px;
    }
    .backbtn {
        width: 100%;
    }
}