.home-container {
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    background-color: blue;
    border-radius: 0 100px 0 100px;
}
.eu {
    height: 200px;
    width: 150px;
    border-radius: 100px;
    box-shadow: 0 1px 0 0px white;
    margin-top: 40px;
}

.button {
    height: 70px;
    width: 140px;
}
.typical {
    color: white;
}
.languages {
    text-align: center;
    background-color: blue;
}