.btn-menu {
  background-color: blue;
  border: none;
  height: 50px;
  position: relative;
  top: 19%;
}
.btn-menu:hover {
  background-color: rgba(0, 0, 255, 0.459);
}
.Botoes {
  background-color: #666;
  height: 10vh;
  width: 100%;
}
.pf {
  display: grid;
  place-items: center;
  margin: 10px;
}
.container-pf {
  border: black solid 3px;
  min-height: 100px;
  min-width: 500px;
}
.imgeu {
  height: 200px;
  border-radius: 100px;
  text-align: center;
}
.typical {
  color: white;
  text-align: center;
}
#eusei {
  text-align: center;
}
